.todo-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;

  /* width: 400px; */
  /* margin: 0 auto 5px; */
  cursor: pointer;
}


.todo-list-item-content {
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px 10px 5px 5px;
}

.todo-list-item-content input {
  margin-left: auto;
  margin-right: 5px;
}

.todo-list-item-content span {
  display: flex;
  justify-content: left;
  font-size: 18px;

  /* width: max-content; */
}

.todo-list-item-content:hover {
  background: rgb(245, 245, 245);
}

.todo-list-item-delete {
  background: rgb(228, 65, 65);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.todo-list-item-delete:hover {
  background: rgb(196, 67, 67);
}

.todo-list-item-checked {
  text-decoration: line-through;
  color: gray;
}
